h1 {
  text-align: center;
}

.content {
  padding: 1em;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: flex-start;
}

.card {
  background-color: #fff;
  margin: 1rem .5rem;
  border-radius: 2px;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  color: #000;
  text-align: left;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  box-sizing: border-box;

  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

  .card .inner {
    margin: auto;
    text-align: center;
    font-size: large;
  }

button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

button:active {
  background-color: #525252;
  color: #fafafa;
}

.badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .6em;
  border-radius: 1em 1em 1em 1em;
}
