a {
    background-color: rgba(75,54,33, 0.9);;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: auto;
    margin: 0rem 0rem;
}

mat-icon {
  font-size: 2rem;
  padding: auto;
  margin: auto;
}

.title {
  margin-left: 1rem;
}

.fixed {
  background-color: #4B3621;
  color: #fff;
  font-weight: bold;
  position: fixed;
  z-index: 1;
}

.spacer {
  flex: 1 auto;
}

button {
  background: transparent;
  color: #fff;
  padding: auto;
  margin-right: .5rem;
  margin-left: .5rem;
  margin-top: auto;
  margin-bottom: auto;
  cursor: default;
}

button:hover, a:hover, button:active {
  color: #aaaaaa;
}

button:active {
  color: #fafafa;
}

.cart {
  cursor: pointer;
}

.mat-drawer-container {
  background-color: #fff;
}

