nav {
    padding: 0 .5em;
    margin: auto;
    margin-bottom: 4em;
    max-width: 500px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    background-color: #614901;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 100px;
    margin:  0 .5em 0 0;
    box-sizing: border-box;
}
  
  a:hover {
    background-color: #7f5f01;
  }

mat-toolbar {
  background-color: #614901;
  color: #fff;
  margin-bottom: 4em;
  font-weight: bold;
  position: sticky;
  top: 0;
}