<div *ngIf="messageService.messages.length">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Your Order</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table *ngIf="messageService.messages">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
        </tr>
        <tr *ngFor='let message of messageService.messages'>
          <th>{{message.id}}</th>
          <th>{{message.name}}</th>
          <th>{{message.price | currency: 'USD'}}</th>
        </tr>
      </table><hr>
      <div>Total: {{messageService.total | currency: 'USD'}}</div>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" (click)="addOrder()">Confirm</button>
      <button type="button" class="clear" (click)="messageService.clear()">Clear All</button>
    </mat-card-actions>
  </mat-card>
</div>