.card {
  background-color: #fff;
  margin: auto;
  border-radius: 2px;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #000;
  text-align: left;
  width: 100%;
  min-width: 220px;
  max-width: 300px;
  box-sizing: border-box;

  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: flex-start;
}

table {
  width: 100%;
}

button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

button:active {
  background-color: #525252;
  color: #fafafa;
}

.clear {
  background-color: #f44;
  color: #fafafa;
}

.clear:hover {
  background-color: #d44;
  color: #fafafa;
}

.price {
  text-align: right;
}

.name {
  text-align: left;
}